* {
  box-sizing:border-box;
  /* Vključi padding in border v width objekta */
}
body {
  margin:0px;
  padding:0px;
}
div.clearfix {
  clear:both;
}
div.kvadratek {
    width:100px;
    height:100px;
}

div.vsebina :nth-child(3){
    align-self:flex-end;
    position:Relative;
    
}

div.vsebina {
  width:1020px;
  height:100vh;
  margin:0px auto;
  padding:20px;
  border:1px solid black;
  display:flex;
 
  justify-content: center;
  align-items:center;
}
div.vsebina img {
    width:60%;
}
div.vsebina p, div.vsebina h2 {
    width:60%;
}



/* 
Media query 
*/

@media screen and (max-width:1040px) {
  div.vsebina {
    width:800px;
  }
}
@media screen and (max-width:820px) {
  div.vsebina {
    width:100%;
    border:none;
    padding:0px;
  }
  div.vsebina img, div.vsebina p 
  {

  }
  div.vsebina p, div.vsebina h2 {
    padding:10px;
  }
  
  
}